
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/**colr varriable**/
:root{
    --tertiory-color: #EC1B09;
    --seconday-color: #FF9C1B;
    --menu-color: #F2F7FC;
    --menu-item-color: #E1E8EF;
    --primary-color: #F2F5F9;
}
/**colr varriable**/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

body{ 
    font-family: "Raleway", serif;
    background-color: var(--primary-color);
}
h2,h3,h4,h5,h6{
    font-family: "Poppins", serif
}
h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 18px;
}
h3{
    font-size: 24px;
    font-weight: 600;
}
p{
  font-size: 14px;  
  font-weight: 500;
  margin-bottom: 18px;
}
.header-main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 73px;
}
.main-nav{}
.nav-ul{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background: var(--menu-color);
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 0 4px 0px #0000002b;
}
.nav-ul li{}
.nav-ul li a{
    display: block;
    padding: 20px 16px;
    background: var(--menu-item-color);
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    width: 80px;
    height: 80px;
    text-align: center;
}
.nav-ul li a.active, .nav-ul li a:hover{
    color:#fff;
    background: -moz-linear-gradient(90deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    background: -webkit-linear-gradient(90deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    background: linear-gradient(90deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--seconday-color)",endColorstr="var(--tertiory-color)",GradientType=1);
}
.nav-ul li a i{
    font-size: 22px;
    opacity: 50%;
}
.nav-ul li a.active i, .nav-ul li a:hover i{
    opacity: 100%;
}

.wrapper-box{
    gap:20px;
    flex-direction: column;
}
.aside-section{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    position: relative;
}
.aside-section h2{
    font-size: 16px;  
    font-weight: 500;
    color: #000;
    opacity: 50%;
    text-align: center;
}
.arun-img{
    width: 200px;
    position: absolute;
    transform: translate(-50%, 0); 
    top: 20px;
    left: 50%;
}
.arun-img img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.arun-name{ 
    margin-top: 206px;
    text-align: center;
    font-family: "Raleway", serif;
    font-weight: bold;
    font-style: normal;
}
.arun-name a{
    text-decoration: none;
    color: #000;
    font-size: 28px;
}
.name-title{}

.social-connect{}
.social-connect-list{
    display: flex;
    gap: 9px;
    padding: 0;
    justify-content: center;
}
.social-connect-list li{  
}
.social-connect-list li a {
    width: 60px;
    height: 60px;
    display: block;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    background: var(--primary-color);
}
.social-connect-list li a i{}
.fb-link{}
.in-link{}
.git-link{}
.fb-link .fa{}
.in-link .fa{}
.git-link .fa{}
.address-detail-list .me-cta{
    border-bottom: none;
    text-align: center;
}
.me-cta-btn{
    padding: 10px 20px;
    border-radius: 50px;
    border:none;
    font-size: 12px;
    font-weight: 500; 
    background: -moz-linear-gradient(90deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    background: -webkit-linear-gradient(90deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    background: linear-gradient(90deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--seconday-color)",endColorstr="var(--tertiory-color)",GradientType=1);
}

.my-details{
    border-radius: 10px;
    background: var(--primary-color);
    padding: 34px;
}
.address-detail-list{
    padding: 0;
}
.address-detail-list li{
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 23px;
    margin-bottom: 23px;
}
.address-icon{
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}
.address-icon i{
    font-size: 22px;
    background: var(--seconday-color);
    background: -moz-linear-gradient(180deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    background: -webkit-linear-gradient(180deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    background: linear-gradient(180deg, var(--seconday-color) 0%, var(--tertiory-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--seconday-color)",endColorstr="var(--tertiory-color)",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.address-info{
    line-height: 21px;
}
.address-info p, .address-info a, .address-info span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    opacity: 50%;
    margin: 0;
}
.address-info a, .address-info span{
    color: #000;
    opacity: 100%;
    text-decoration: none;
}

.main-content{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
}
.section-top{}
.section-bottom{}
.whati-do-boxes{
    gap:27px;
}
.colored-block{
    width: 100%;
    padding: 13px 25px;
    background: #F2F7FC;
    border-radius: 10px;
    box-sizing: border-box;
}
.colored-block:nth-child(odd) {
    background: #FFEBD1;
}
.colored-block p{
    font-size: 14px;
    font-weight: 400;
}

/**Media query**/
@media only screen and (min-width: 541px){
    .colored-block{
        width: 47%;
    }
}
@media only screen and (min-width: 1023px){
    .aside-section {
        width: 33.33%;
    }
    .main-content {
        width: 66.67%;
    }
    .wrapper-box{
        flex-direction: row;
    }

    .arun-img{ 
        top: -87px; 
    } 
    .arun-name{
        margin-top: 6rem; 
    }
    .nav-ul{
        flex-wrap: nowrap;
    }
}